@model Product

<header>
	<link rel="stylesheet" href="/css/product.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">
</header>

<div class="escape-btns">
    <a class="back-btn btn" href="/Home/Index">⟵ НАЗАД</a>
</div>

@if (Model is null) 
{ 
	<h1>Товар не найден</h1> 
}

@if (Model != null)
{
    <div class="product-details">
        <img src="https://m.media-amazon.com/images/I/71v9YKQxm2L._UF1000,1000_QL80_.jpg"/>
        <div class="product-info">
            <p class="product-name">@Model.Name</p>
            <p>Артикул: @Model.Id</p>
            <p>Цена: @Model.Price</p>
            <div class="buttons-container">
                <button class="product-btn cart-btn">В КОРЗИНУ</button>
                <button class="product-btn buy-btn">КУПИТЬ</button>
            </div>
            <p>@Model.Description</p>           
        </div>       
    </div>
   
    
}
