@model Order

<h2>Оформление заказа</h2>

<form class="form" method="post">

    <div class="form-group">
        <label asp-for="Name">Имя:</label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="Surname">Фамилия:</label>
        <input class="form-control" asp-for="Surname" />
        <span asp-validation-for="Surname"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email">Email:</label>
        <input class="form-control" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

	<div class="form-group">
        <label asp-for="Phone">Телефон:</label>
        <input class="form-control" asp-for="Phone" />
		<span asp-validation-for="Phone"></span>
	</div>
    <div class="form-group">
        <label asp-for="City">Город:</label>
        <input class="form-control" asp-for="City" />
        <span asp-validation-for="City"></span>
    </div>
    <div class="form-group">
        <label asp-for="Street">Улица:</label>
        <input class="form-control" asp-for="Street" />
        <span asp-validation-for="Street"></span>
    </div>

    <br />
    <button asp-controller="Order" asp-action="Buy" class="btn btn-primary" type="submit">Подтвердить заказ</button>
</form>

