@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<header>
	<link rel="stylesheet" href="styles.css" />
</header>


<header>
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">

</header>

<div class="products-container">
    @foreach (Product product in Model)
    {
        <div class="product-item">
            <a class="product-link" href="/product/index/@product.Id">
            <img src="https://m.media-amazon.com/images/I/71v9YKQxm2L._UF1000,1000_QL80_.jpg" height="500" alt="@product.Name">
            <div class="info-container">
                <p class="product-name">@product.Name</p>
                <p class="product-price">@product.Price</p>
            </div>
           </a>
            <div class="buttons-container">
                <button class="product-btn cart-btn">В КОРЗИНУ</button>
                <button class="product-btn buy-btn">КУПИТЬ</button>
            </div>
        </div>
       
    }
</div>
