@model List<ProductViewModel>
@{
	ViewData["Title"] = "Home Page";
}

<header>
	<link rel="stylesheet" href="styles.css" />
</header>


<header>
	<link rel="stylesheet" href="/css/site.css" />
</header>

<div class="products-container">
	@foreach (ProductViewModel product in Model)
	{
		<div class="product-item">
			<a class="product-link" href="/product/index/@product.Id">
				<img src="@product.ImagePath" height="500" alt="@product.Name">
				<div class="info-container">
					<p class="product-name">@product.Name</p>
					<p class="product-price">@product.Price</p>
				</div>
			</a>
			<div class="buttons-container">
				<a class="product-btn btn btn-dark" href="/product/index/@product.Id">ПОДРОБНЕЕ</a>
				<a class="product-btn btn btn-dark" href="/cart/add?productId=@product.Id">В КОРЗИНУ</a>
			</div>
		</div>
	}
</div>
