<header>
	<link rel="stylesheet" href="/css/admin.css">
</header>

<h1>Список ролей</h1>

<div class="admin-panel">
	<ul>
		<li>
			<a asp-controller="Admin" asp-action="Orders">Заказы</a>
		</li>
		<li>
			<a asp-controller="Admin" asp-action="Users">Пользователи</a>
		</li>
		<li>
			<a asp-controller="Admin" asp-action="Roles">Роли</a>
		</li>
		<li>
			<a asp-controller="Admin" asp-action="Products">Продукты</a>
		</li>
	</ul>
</div>