<div class="admin-panel">
	<ul>
		<li>
			<a asp-area="Admin"
			   asp-controller="Order"
			   asp-action="Index">Заказы</a>
		</li>
		<li>
			<a asp-area="Admin"
			   asp-controller="User"
			   asp-action="Index">Пользователи</a>
		</li>
		<li>
			<a asp-area="Admin"
			   asp-controller="Role"
			   asp-action="Index">Роли</a>
		</li>
		<li>
			<a asp-area="Admin"
			   asp-controller="Product"
			   asp-action="Index">Продукты</a>
		</li>
	</ul>
</div>