<div class="admin-panel">
	<ul>
		<li>
			<a asp-area="Admin" asp-controller="Admin" asp-action="Orders">Заказы</a>
		</li>
		<li>
			<a asp-area="Admin" asp-controller="Admin" asp-action="Users">Пользователи</a>
		</li>
		<li>
			<a asp-area="Admin" asp-controller="Admin" asp-action="Roles">Роли</a>
		</li>
		<li>
			<a asp-area="Admin" asp-controller="Admin" asp-action="Products">Продукты</a>
		</li>
	</ul>
</div>