.escape-btns {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 20px;
    margin-top: 70px;
}

.cart-btns {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.cart-btn {
    width: 100px;
}
