.buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
    padding-bottom: 30px;
}

.product-btn {
    font-weight: 400;
    font-size: 16px;
    background-color: #f35638;
    border: 0;
}



.product-details {
    display: flex;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.product-name {
    font-weight: 700;
    font-size: 30px;
}

.product-details img {
    height: 560px;
    width: 560px;
    margin-right: 100px;
}

.back-btn {
    margin-right: 20px;
}

.escape-btns {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 20px;
    margin-top: 70px;
}

.back-btn {
    border: medium none;
    background-image: none;
    background: transparent;
    float: left;
    background-color: transparent;
}
